
<script type="text/javascript" src="@Url.Content("~/Scripts/dashboard.js")"></script>  
<div data-role="page" id="index">  
    <header data-role="header">  
        <h1>Top title bar</h1>  
    </header>  
      
    <ul id="dashListView" data-role="listview" data-inset="true" data-divider-theme="a">    
    </ul>

    <footer data-role="footer">  
        <h2>&copy; footer here.</h2>  
    </footer>  
</div>  
  

