@{
    ViewBag.Title = "Cardio";
}

<h2>Cardio</h2>

<script src="@Url.Content("~/Scripts/Cardio.js")" type="text/javascript"></script>

<div id="cardiosummary">
    Summary
    <table>
        <tr>
            <td>Total Runs:</td>
            <td id="totalruns"></td>
        </tr>
        <tr>
            <td>Average Miles Per Run:</td>
            <td id="avgmiles"></td>
        </tr>
        <tr>
            <td>Average Adjusted 5K Time</td>
            <td id="avgadj5ktime"></td>
        </tr>
       
    </table>

</div>
