@{
    ViewBag.Title = "Goals";
}

<script src="@Url.Content("~/Scripts/Goals.js")" type="text/javascript"></script>

<h2>Goals</h2>

<table>
    <tr>
        <td>
            <table id="goalSummaryTable"> 
                <thead><th>Name</th>
                    <th>Average</th>
                    <th>Trend</th>
                    <th>New Goal</th>
                </thead>  

            </table> 
        </td>
    </tr>
</table>