@{
    ViewBag.Title = "Home Page";
}


<p>
    @*To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.*@
    
    <div id="AllGoalsByMonth"></div>
    <div id="CurrentMonthProgress"></div>
    <div id="WeightYearGauge"></div>
</p>

<ul data-role="listview" data-inset="true">

</ul>