@{
    ViewBag.Title = "Pedometer";
}
<script src="@Url.Content("~/Scripts/Pedometer.js")" type="text/javascript"></script>

<h2>Pedometer</h2>

<div id="pedometersummary">
    Summary
    <table>
        <tr>
            <td>Number of Days:</td>
            <td id="numofdays"></td>
        </tr>
        <tr>
            <td>Average Steps:</td>
            <td id="avgsteps"></td>
        </tr>
        <tr>
            <td>Trend Steps</td>
            <td id="trendsteps"></td>
        </tr>
        <tr>
            <td>Direction:</td>
            <td id="directionsteps"></td>
        </tr>
        <tr>
            <td>New Step Goal:</td>
            <td id="newstepgoal"></td>
        </tr>
    </table>

</div>